@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Default" %>
<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Student Management System</h1>
    <a href="AddStudent.aspx">Add New Student</a><br />
    <a href="AddCourse.aspx">Add New Course</a><br />
    <a href="StudentInfo.aspx">View Student Information</a><br />
</body>
</html>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
